{% extends "base.html" %} {% block content %}
<div class="wrapper-movie">
  <div class="bg-categories"></div>
  <div class="header">
    <a href="/" class="header__logo">
      <div class="logo__img">
        <h5 class="logo__text">RETRO FEVER</h5>
      </div>
    </a>
    <div class="header__acount">
      <div class="btns__acount">
        <a href="" class="entry">sign in</a>
        <a href="" class="register">sign up</a>
      </div>
      <a href="" class="acount__icon"></a>
    </div>
  </div>
  <div class="content__movie_genre">
    <a class="back__to_genres" href="/movie">
      <div class="back">BACK</div>
    </a>
    <div class="show_movie">
      <div class="films__block">
        {% for film in list_films %}
        <a href="{{ url_for('movie_info', film_name=film['title']) }}">
          <div class="film">
            <img
              class="film__image"
              src="{{ url_for('static', filename=film['image']) }}"
              alt=""
            />
            <p class="film__title">{{ film['title'] }}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- <footer class="footer">
    <div class="footer__body"></div>
  </footer> -->
</div>
{% endblock %}
