{% extends "base.html" %} {% block content %}
<div class="wrapper">
  <section class="upper">
    <div class="upper__body">
      <div class="upper__logo"></div>
      <div class="upper__text">
        <h1 class="upper__title">RETRO FEVER</h1>
        <h2 class="upper__slogan">Forward to the Past!</h2>
      </div>
    </div>
  </section>
  <div class="content">
    <div class="bg_img"></div>
    <div class="header">
      <a href="/" class="header__logo">
        <div class="logo__img">
          <h5 class="logo__text">RETRO FEVER</h5>
        </div>
      </a>
      <div class="header__acount">
        <div class="btns__acount">
          {% if current_user.is_authenticated %}
          <a href="/logout" class="current__user">{{ current_user.name }}</a>
          {% else %}
          <a href="{{ url_for('login') }}" class="entry">sign in</a>
          <a href="{{ url_for('register') }}" class="register">sign up</a>
          {% endif %}
        </div>
        <a href="" class="acount__icon"></a>
      </div>
    </div>
    <div class="content__body">
      <div class="categories">
        <div class="block__title">
          <h3 class="title__categories">Categories</h3>
        </div>
        <div class="categories__list">
          <div class="left__column">
            <div class="categorie">
              <a href="{{ url_for('movie') }}" class="elem__categories movie"
                >movie</a
              >
              <div class="right_arrow">
                <div></div>
              </div>
            </div>
            <div class="categorie">
              <a href="{{ url_for('music') }}" class="elem__categories music"
                >music</a
              >
              <div class="right_arrow">
                <div></div>
              </div>
            </div>
            <div class="categorie">
              <a href="" class="elem__categories clothes">clothes</a>
              <div class="right_arrow">
                <div></div>
              </div>
            </div>
          </div>
          <div class="right__column">
            <div class="categorie">
              <a
                href="{{ url_for('performers') }}"
                class="elem__categories performers"
                >performers</a
              >
              <div class="right_arrow">
                <div></div>
              </div>
            </div>
            <div class="categorie">
              <a href="" class="elem__categories games">games</a>
              <div class="right_arrow">
                <div></div>
              </div>
            </div>
            <div class="categorie">
              <a href="" class="elem__categories comics">comics</a>
              <div class="right_arrow">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <footer class="footer">
    <div class="footer__body"></div>
  </footer> -->
</div>
{% endblock %}
