{% extends "base.html" %} {% block content %}
<div class="wrapper__movie">
  <div class="bg-categories"></div>
  <div class="header">
    <a href="/" class="header__logo">
      <div class="logo__img">
        <h5 class="logo__text">RETRO FEVER</h5>
      </div>
    </a>
    <div class="header__acount">
      <div class="btns__acount">
        <a href="" class="entry">sign in</a>
        <a href="" class="register">sign up</a>
      </div>
      <a href="" class="acount__icon"></a>
    </div>
  </div>
  <div class="wrapper__genres">
    <div class="genres">
      <a class="genre__link" href="{{ url_for('genre', name='Horror') }}"
        >Horror</a
      >
      <a class="genre__link" href="{{ url_for('genre', name='Drama') }}"
        >Drama</a
      >
      <a class="genre__link" href="{{ url_for('genre', name='Comedy') }}"
        >Comedy</a
      >
      <a class="genre__link" href="{{ url_for('genre', name='Fiction') }}"
        >Fiction</a
      >
      <a class="genre__link" href="{{ url_for('genre', name='Action') }}"
        >Action</a
      >
      <a class="genre__link" href="{{ url_for('genre', name='Thriller') }}"
        >Thriller</a
      >
      <a class="genre__link" href="{{ url_for('genre', name='Detective') }}"
        >Detective</a
      >
    </div>
  </div>
  <!-- <footer class="footer">
    <div class="footer__body"></div>
  </footer> -->
</div>
{% endblock %}
