{% extends "base.html" %} {% block content %}
<div class="wrapper__movie">
  <div class="bg-categories"></div>
  <div class="header">
    <a href="/" class="header__logo">
      <div class="logo__img">
        <h5 class="logo__text">RETRO FEVER</h5>
      </div>
    </a>
    <div class="header__acount">
      <div class="btns__acount">
        {% if current_user.is_authenticated %}
        <a href="/logout" class="current__user">{{ current_user.name }}</a>
        {% else %}
        <a href="{{ url_for('login') }}" class="entry">sign in</a>
        <a href="{{ url_for('register') }}" class="register">sign up</a>
        {% endif %}
      </div>
      <a href="" class="acount__icon"></a>
    </div>
  </div>
  <div class="wrapper__genres">
    <div class="genres">
      <a class="genre__link" href="{{ url_for('genre', name='horror') }}"
        >Horror</a
      >
      <a class="genre__link" href="{{ url_for('genre', name='drama') }}"
        >Drama</a
      >
      <a class="genre__link" href="{{ url_for('genre', name='comedy') }}"
        >Comedy</a
      >
      <a class="genre__link" href="{{ url_for('genre', name='fiction') }}"
        >Fiction</a
      >
      <a class="genre__link" href="{{ url_for('genre', name='action') }}"
        >Action</a
      >
      <a class="genre__link" href="{{ url_for('genre', name='thriller') }}"
        >Thriller</a
      >
      <a class="genre__link" href="{{ url_for('genre', name='detective') }}"
        >Detective</a
      >
    </div>
  </div>
  <!-- <footer class="footer">
    <div class="footer__body"></div>
  </footer> -->
</div>
{% endblock %}
