{% extends "base.html" %}

{% block content %}
<div class="wrapper__register">
    <div class="bg-categories"></div>
    <div class="header">
        <a href="/" class="header__logo">
        <div class="logo__img">
            <h5 class="logo__text">RETRO FEVER</h5>
        </div>
        </a>
        <div class="header__acount">
        <div class="btns__acount">
            {% if current_user.is_authenticated %}
            <a href="/logout" class="current__user">{{ current_user.name }}</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="entry">sign in</a>
            <a href="{{ url_for('register') }}" class="register">sign up</a>
            {% endif %}
        </div>
        <a href="" class="acount__icon"></a>
        </div>
    </div>
    <div class="register__content">
        <h1 class="register__title">REGISTER</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(class='form-control', type='email') }}<br>
                {% for error in form.email.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.password_again.label }}<br>
                {{ form.password_again(class="form-control", type="password") }}<br>
                {% for error in form.password_again.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.name.label }}<br>
                {{ form.name(class="form-control") }}<br>
                {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            {{message}}
        </form>
    </div>
</div>
{% endblock %}